
@media(max-width: 500px){

  #logo img {
    height: 1rem;
}
li a {
  padding: 0.2rem;
  color: rgb(34, 33, 33);
  font-size: 0.7rem;
}
  #contact #mission,.contact-form{
    flex: 2;
 
}
#showCase {
  height: 180vh;
}
.form-group, #name,#password,#email,#button{
    width: 8rem;
    height: 2rem;
}

.border{
    margin-left: 2rem;
    border-radius: 5px;
    margin-right: 10rem;
}
section h3 {
    text-align: center;
    position: relative;
    margin: 1px 0;
    padding-top: 10rem;
    padding-right: 8rem;
  }
  h1{
    font-size: 1em;
}

#main-fotter{
  flex-direction: column-reverse;
  margin-top: 13rem; 
  padding: 0.75rem;

}
#main-fotter nav a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: #446190;
  font-size: small;
}
#main-fotter p {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-size: 1.1rem;
  color:  #446190;
}
