@media(max-width: 500px){
  li a {
    padding: 0.75rem;
    color: rgb(53, 51, 51);
  }
  #logo img {
    height: 1rem;
}
li a {
  padding: 0.2rem;
  color: rgb(34, 33, 33);
  font-size: smaller;
}
  #contact #mission,.contact-form{
    flex: 2;
 
}
.form-group, #name,#password,#email,#button{
    border:none;
    border: 1px dotted rgba(250, 253, 250, 0.1);
    border-radius: 5px;
    width: 8rem;
    height: 2rem;
    background-color: rgba(250, 253, 250, 0.1);
    text-align: center;
}
#button{
    text-align: center;
    color: white;
    background: #446190;
    width: 100%;
}
.border{
    margin-left: 2rem;
    border-radius: 5px;
    margin-right: 10rem;
}
section h3 {
    text-align: center;
    position: relative;
    margin: 1px 0;
    padding-top: 10rem;
    padding-right: 8rem;
  }
  h1{
    font-size: 1em;
}

#main-fotter{
  flex-direction: column-reverse;
  padding: 0.5rem;
  margin-top: 1px;
  
  
}
#main-fotter nav a {
  margin-right: 3rem;
  margin-bottom: 1rem; 
  color: #333;
}
#main-fotter p {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  color: #333;
}


}